

a               { color: #377BA8; text-decoration: none; }
a:hover         { text-decoration: underline; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
.page           { background: white; padding: 0.8em; margin: 1em auto;}
.error          { background: #F0D6D6; padding: 0.5em; margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; }

#grey_note      { color: #A9A9A9; }
#grey_note a    { color: #808080; text-decoration: none; }
#grey_note a:hover  { text-decoration: underline; }

/* Header (image and menu items) */
#branding       { background: #000000; }

#branding ul { list-style-type: none; margin: 0; padding: 0; overflow: hidden;
               border: 0px; background-color: #000000; }
#branding li { float: left; }
#branding li a { display: block; color: white; text-align: center;
                 padding: 14px 16px; text-decoration: none; }
#branding li a:hover { background-color: #f9f9f9; color: #373737; }

/* Form layout */
.rvrange {
    width: 250px;
    float: left;
    margin: 0px 10px 0px 10px;
    border-right: thin solid #A9A9A9;
}
.distrange {
    width: 250px;
    float: left;
    margin: 0px 10px 0px 10px;
}
.clearfix { clear:both }
