<!doctype html>
<title>BDNYC Kinematics Calculator</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>

<header id="branding">
    <img src="static/images/BDNYC-logo.gif" width="500px" />
    <ul>
        <li><a href="http://www.bdnyc.org">Return to BDNYC Blog</a></li>
    </ul>
</header>

<div class=page>

    <h1>BDNYC Kinematics Calculator</h1>

    <div class=metanav>
        <p>
            This application converts stellar parameters, such as Right Ascension, Declination, distance, etc, and
            transforms them to Cartesian XYZ coordinates centered on the Sun. <br>
            Velocities are returned as UVW velocities along the same axes with X/U positive
            towards the Galactic center, Y/V positive in the direction of the
            Sun's motion around the Galaxy, and Z/W positive out of the plane of the Galaxy. <br>

            You can resolve objects with Simbad to grab input parameters to use. In the absence of distance or
            radial velocity information, this application can generate XYZUVW for a range. <br>
            Note that all information entered in this application is <b>not stored on our server</b>.
            <br>

            [include a figure of XYZ/UVW?]
        </p>
        <p>
            This application displays the locations of nearby stellar moving groups from Malo et al. (2012) [ADD LINK].
            These groups contain stars with ages of ~10-100 million years.
        </p>
        <p>
            This application runs on Python and has been created by
            <a href="http://dr-rodriguez.github.io/">David R. Rodriguez</a>.
            You can grab a copy of the code on <a href="https://github.com/dr-rodriguez/Kinematics-App">GitHub</a>. <br>
            Publications that benefit from this application should cite this record [ADD ZENODO LINK].
        </p>

        <hr>

        <!--<h4 id="all_known">Calculate XYZUVW</h4>-->

        <form action="clear">
            <input type="submit" value="Clear All Values">
        </form>

        <form method='post' action="simbad">
            <p>
                Grab information from Simbad:
                <input TYPE="TEXT" NAME="name" VALUE="{{name}}" SIZE=20> <input type="submit" value="Resolve">
            </p>
        </form>

        <hr>

        <form id='all_known' method='post' action='results' >
            <h4> Normal calculation:</h4>
            <p>
                <input TYPE="TEXT" NAME="ra" VALUE="{{ra}}" SIZE=10>  RA (J2000, deg)<BR>
                <input TYPE="TEXT" NAME="dec" VALUE="{{dec}}" SIZE=10>  Dec (J2000, deg)<BR>
                <input TYPE="TEXT" NAME="pmra" VALUE="{{pmra}}" SIZE=10>  pmRA (mas/yr)<BR>
                <input TYPE="TEXT" NAME="pmdec" VALUE="{{pmdec}}" SIZE=10>  pmDec (mas/yr)<BR>
                <input TYPE="TEXT" NAME="dist" VALUE="{{dist}}" SIZE=10>  Distance (pc)<BR>
                <input TYPE="TEXT" NAME="rv" VALUE="{{rv}}" SIZE=10>  Radial Velocity (km/s)<BR>
                <input type="hidden" name="type_flag" value="normal">
                <input type='submit' value='Calculate' />
            </p>
        </form>

        <hr>

        <form id="multi_rv" method="post" action="results">
            <h4>Range of radial velocities:</h4>
            <p>
                <input type="text" name="rv_ini" value="{{rv_ini}}" size=10> Initial Velocity (km/s)<br>
                <input type="text" name="rv_fin" value="{{rv_fin}}" size=10> Final Velocity (km/s)<br>
                <input type="text" name="rv_step" value="{{rv_step}}" size=10> Velocity Step (km/s)<br>
                <input type="hidden" name="type_flag" value="multi_rv">
                <input type="submit" value="Calculate">
            </p>
        </form>

        <form id="multi_dist" method="post" action="results">
            <h4>Range of distances:</h4>
            <p>
                <input type="text" name="dist_ini" value="{{dist_ini}}" size=10> Initial Distance (pc)<br>
                <input type="text" name="dist_fin" value="{{dist_fin}}" size=10> Final Distance (pc)<br>
                <input type="text" name="dist_step" value="{{dist_step}}" size=10> Distance Step (pc)<br>
                <input type="hidden" name="type_flag" value="multi_dist">
                <input type="submit" value="Calculate">
            </p>
        </form>

    </div>

    <hr>

    <p id="grey_note">
        Created by <a href="http://dr-rodriguez.github.io/">David R. Rodriguez</a> for the
        <a href="http://www.bdnyc.org/">Brown Dwarfs in New York City (BDNYC)</a> research team.
    </p>

</div>

